{% extends "layout.html" %}

{% block extraHead %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/addProduct.css") }}" type="text/css"/>
{% endblock %}

{% block mainBody %}
    <div class="loginForm">
        
            <img width="60" height="60" src="{{url_for("static", filename="images/Group 2.png")}}" />
            <form id="formRegister" action="/login" method="post">
                <p class="text1">User name：</p>
                <p class="text1">
                    <input class="text1" name="username" type="text" style="width: 240px; height: 25px;"/>
                </p>
                <p class="text1">Password：</p>
                <p class="text1">
                    <input class="text1" name="password" type="password" style="width: 240px; height: 25px;" autocomplete="off"/>
                </p>
               
                <p class="text3">{{get_flashed_messages()[0]}} </p>
                <p class="text1">
                    <button onclick="submit" style="margin: 0; padding: 0; border-width: 0;">
                        <img width="70" height="25"
                             src="{{url_for("static", filename="images/loginButton.jpg")}}" />
                    </button>
                    <a style="font-size:10px; margin-left:15px;" href="/register">Create a New account !</a>
                </p>
             </form>
        
    </div>
{% endblock %}