{% extends "layout.html" %}

{% block extraHead %}

<script type="text/javascript">
        function getId(el) {
                var id = el.id;
                console.log(id);
                if (confirm("Are you sure you want to delete this Order?"))
                {
                        $.ajax({
                                url: '/deleteOrderInfo?id=' + id,//自己的服务接口地址
                                type: 'POST',
                                success: function (data) {
                                        redirect();
                                        console.log("successful to delete!");
                                },
                                error: function () {
                                        redirectOriginal();
                                        console.log("oops! have some errors!");
                                },
                        });
                }
                else{
                        redirectOriginal();
                }
        }
        function redirect() {
                window.location.href = "http://127.0.0.1:5000/deleteOrderInfo";
        }
        function redirectOriginal(){
                window.location.href = "http://127.0.0.1:5000/orderCreate";
        }
</script>

{% endblock %}
    

{% block mainBody %}
<div class="bar" style="padding-top: 0px;" >
        <div class="nav" >
                <ul class="pc-nav" style="background-image:url(static/images/ic_down_nor.png);">
                    <li><a href="/index-guys">Guys</a></li>
                    <li><a href="/index-girls">Girls</a></li>
                    <li><a href="/index-kids">Kids</a></li>
                    <li>Sales</li>
                    <input type="text" placeholder="Lowest" class="scope" style="z-index: 1;float:left">
                    <img src="{{url_for("static", filename="images/ic_Swap.png")}}"/>
                    <input type="text" placeholder="Highest" class="scope">
                    <input type="button" class="confirm" style="background-image: url(static/images/ic_down_pre.png);" value="Confirm" id="queren">
                    <input type="button" class="confirm" style="background-image: url(static/images/ic_down_pre.png);" value={{username}}  onclick="">
                    <input type="button" class="confirm" style="background-image: url(static/images/ic_down_pre.png);" value="Add Product" onclick="window.location.href='/addProduct'">
                </ul>
        </div>
</div>
<div id="productList">
        <ul style="list-style: none;">
                {% for item in items %}
                        <li id="itemLi">
                                <p>
                                        <img width="200" height="200" src={{item['photo']}} onclick="getId(this)" id={{item['id']}}>
                                        <br />
                                        <span style="color:red;font-size:1.1em;">&#8364;{{item['price']}}</span>
                                        <span style="color:blue;font-size:1.1em;">
                                                <br />
                                                Name: {{ item['name'] }}
                                                <br />
                                                Amounts: {{ item['amounts'] }}
                                                <br />
                                                Totall price
                                        </span>

                                        <span style="color:red;font-size:1.1em;"> 
                                                &#8364;{{ item['totalPrice'] }}
                                        </span>   
                                        
                                        <span style="color:darkorange;font-size:1.1em;">        
                                                <br />
                                                {{ item['date'] }}
                                        </span>
                                </p>
                        </li>
                {% endfor %}
        </ul>
</div>
{% endblock %}
