{% extends "layout.html" %}

{% block extraHead %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/addProduct.css") }}" type="text/css"/>
{% endblock %}

{% block mainBody %}
    <div>
        <div>
            <img width="60" height="60" src="{{url_for("static", filename="images/Group 2.png")}}" />
            <form id="formRegister" style="text-align:center;" action="/user" method="post">
                
                <p class="text1">user name：</p>
                <p class="text1">
                    <input class="text1" name="username" type="text" style="width: 240px; height: 25px;" autocomplete="off"/>
                </p>
                <p class="text1">password：</p>
                <p class="text1">
                    <input class="text1" name="password" type="password" style="width: 240px; height: 25px;" autocomplete="off"/>
                </p>
                <p class="text1">address</p>
                <p class="text1">
                    <input class="text1" name="address" type="text" style="width: 240px; height: 25px;" autocomplete="off"/>
                </p>
                <p class="text1">phone：</p>
                <p class="text1">
                    <input class="text1" name="phone" type="text" style="width: 240px; height: 25px;" autocomplete="off"/>
                </p>
                <p class="text3">{{get_flashed_messages()[0]}} </p>
                <p class="text1">
                    <button onclick="submit" style="margin: 0; padding: 0; border-width: 0;">
                        <img width="70" height="25"
                             src="{{url_for("static", filename="images/registerButton.png")}}" />
                    </button>
                    <a style="font-size:10px; margin-left:15px;" href="/login">go to log-in !</a>
                </p>
             </form>
        </div>
    </div>


{% endblock %}