<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="refresh" content="3;index"/>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <title>Welcome~</title>
        <style>
            html, #page {
                 padding: 0;
                margin: 0;
            }
            h1{
                color: coral;
                text-align:center;
            }
        </style>
	</head>
	
	<body>
		<div class="container">
		        <h1 align="center">Welcome to Let Buy! Online-Shopping Web</h1>
		</div>
    </body>

    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-select/1.12.4/js/i18n/defaults-zh_CN.min.js"></script>
    <script src="{{url_for("static", filename="js/showProducts.js")}}"></script>

</html>